* {
    margin: 0;
    padding: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.modify {
    width: 700px;
    height: 55px;
    border-bottom: 2px dotted #DCDCDC;
    text-align: center;
    margin-top: 30px;
}

.modify>p {
    width: 100px;
    line-height: 22px;
    padding: 5px 0;
    border-left: 4px solid #1AC0C0;
    margin-left: 30px;
}

.sj {
    width: 450px;
    height: 70px;
    margin-top: 22px;
    border: 1px solid #DCDCDC;
    border-left: 2px solid #DCDCDC;
    border-right: 2px solid #DCDCDC;
    background-color: white;
    position: relative;
    left: 50%;
    margin-left: -320px;
}

.wx {
    width: 450px;
    height: 70px;
    margin-top: 22px;
    border: 1px solid #DCDCDC;
    border-left: 2px solid #DCDCDC;
    border-right: 2px solid #DCDCDC;
    background-color: white;
    position: relative;
    left: 50%;
    margin-left: -320px;
}

.sj>img {
    position: absolute;
    top: 18%;
    left: 10px;
}
.hao{
    position: absolute;
    top: 16%;
    left: 70px;
}
.nin{
    position: absolute;
    top: 52%;
    left: 70px;
}
.sj>button{
    width: 85px;
    height: 36px;
    background-color: #FEA700;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    right: 50px;
}
.wx>button{
    width: 85px;
    height: 36px;
    background-color: #FEA700;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    right: 50px;
}
.wxp1{
    position: absolute;
    top: 18%;
    left: 70px;
}
.wxp2{
    position: absolute;
    top: 52%;
    left: 70px;
}
.wx>img{
    position: absolute;
    top: 30%;
    left: 18px;
}