.nav{
    background: url("https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/553c5e503fc83138c76bd7c17c1434db.jpeg");
    display: block;
    height: 588px;
    text-indent: -9999em;
    margin-right: 500px;
}