/* top.css */
*{margin: 0px;padding: 0px;}
.top{
    height: 40px;
    background: #f9f9f9;
    border-bottom: 1.5px solid #eeeeee;
}
.top-container{
    width: 1240px;
    margin: 0 auto;
}
.top-left{
    width: 575px;
    height: 40px;
    line-height: 40px;
    float: left;
}
.top-right{
    width: 72px;
    height: 40px;
    line-height: 40px;
    float: right;
}
.top ul{
    list-style: none;
    font-size: 12px;
    color: #999;
}
.top li{
    float: left;
    cursor: pointer;
}
.top .split{
    margin: 0 9px;
    color: #ccc;
}

/* search.css */
.search{
    width: 1240px;
    height: 110px;
    margin: 0 auto;
}
.search-img{
    margin-top: 25px;
}
.search-right{
    width: 560px;
    height: 75px;
    float: right;
    margin-top: 20px;
    position: relative;
}
.clock{
    position: absolute;
    right: 100px;
}
.search-span{
    position: absolute;
    right: 0;
    font-size: 12px;
    color: #999;
}
.search-input{
    position: absolute;
    bottom: 0;
    width: 422px;
    height: 40px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.input-div{
    position: absolute;
    bottom: 0;
    left: 220px;
    width: 150px;
    height: 40px;
    line-height: 38px;
}
.input-div ul{
    list-style: none;
}
.input-li{
    margin: auto 8px;
}
.input-div li{
    float: left;
    font-size: 12px;
}
.input-div a{
    text-decoration: none;
    color: black;
    background: #f0f0f0;
}
.search-glass{
    position: absolute;
    bottom: 0;
    left: 382px;
    width: 40px;
    height: 40px;
    background: url("../images/fangdajing.png") no-repeat center center;
    border: none;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
}
.search-button{
    position: absolute;
    width: 125px;
    height: 40px;
    bottom: 0;
    right: 0;
    background: #ffdb3d;
    border: 1px solid #ffdb3d;
    display: inline-block;
    cursor: pointer;
}
.button-span{
    font-size: 16px;
    margin-left: 1px;
}
.button-img{
    margin-top: 3px;
}

/* show.css */
.show-top{
    width: 1240px;
    height: 630px;
    margin: 0 auto;
    position: relative;
}
.show-subtotal{
    width: 250px;
    height: 630px;
    float: left;
}
.subtotal-top{
    width: 250px;
    height: 40px;
    line-height: 40px;
    background: #FF4A00;
}
.show-subtotal span{
    display: inline-block;
    color: white;
    margin-left: 23px;
    font-size: 18px;
}
.subtotal-row{
    width: 250px;
    height: 73.75px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;border-left: 1px solid #ccc;
}
.subtotal-row ul{
    list-style: none;
    font-size: 12px;
    color: #999;
    margin-left: 20px;
    overflow: hidden;
}
.subtotal-row p{
    color: #FF4A00;
    margin-top: 18px;
}
.subtotal-row li{
    float: left;
    margin-right: 8px;
    margin-top: 12px;
}
.subtotal-row a{
    text-decoration: none;
    color: #999;
}
.subtotal-row a:hover{
    color: #FF4A00;
}
.show-main{
    width: 990px;
    height: 630px;
    position: absolute;
    background: green;
    right: 0;
}
.main-top{
    width: 990px;
    height: 40px;
    line-height: 38px;
    background: #404144;
}
.main-top ul{
    list-style: none;
}
.main-top li{
    float: left;
    font-size: 18px;
    margin: auto 24px;
}
.main-top a{
    text-decoration: none;
    color: white;
}
.main-top a:hover{
    color:#FF4A00;
}
.main-banner{
    width: 990px;
    height: 420px;
    position: relative;
}
.main-images{
    width: 990px;
    height: 420px;
    /* 使图片不再从下往上跳转 */
    overflow: hidden;
}
.prev,.next{
    cursor: pointer;
    top:50%;
    transform: translateY(-50%);
    z-index: 100;width:40px;height:70px;
    background:url("../images/icon-slides.png");
    border:none;
    position: absolute;
}
.prev{
    background-position-x:-86px
}
.prev:hover{
    background-position: 0;
}
.next:hover{
    background-position-x: -43px
}
.next{
    right:0;
    background-position-x:-125px;
}
.main-banner ul{
    position: absolute;
    right: 10px;
    bottom: 5px;
    list-style: none;
}
.main-banner li{
    float: left;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1.5px solid #FF4A00;
    box-sizing: border-box;
    border-radius: 15px;
    background: #fff;
    opacity: 0.8;
    margin: 5px;
    text-align: center;
    line-height: 30px;
}
.main-banner img{
    width: 990px;
    height: 420px;
    position: absolute;
}
.main-banner .current{
    background: #333;
    color: orange;
}
.main-banner .current:hover{
    color: white;
}
.main-bottom{
    width: 990px;
    height: 170px;
    background: red;
    position: absolute;
    bottom: 0;
}
.main-bottom div{
    width: 330px;
    height: 170px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;
    float: left;
}
.bottom-left{
    background: url("../images/mi-banner-bottom01.png")
}
.bottom-middle{
    background: url("../images/mi-banner-bottom02.png")
}
.bottom-right{
    background: url("../images/mi-banner-bottom03.png")
}

/* product.css */

.product-title{
    width: 1240px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    position: relative;
}
.product-title .title-left{
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    color: #666;
}
.product-title .title-right{
    display: inline-block;
    font-size: 12px;
    color: #999;
}
.product-title button{
    width: 30px;
    height: 20px;
    background: white;
    cursor: pointer;
    border: 1px solid #ccc;
}
.product-title .right-arrows{
    position: absolute;
    background: url("../images/right-arrows.png")no-repeat center center;
    right: 0;
    bottom: 10px;
}
.product-title .left-arrows{
    position: absolute;
    background: url("../images/left-arrows.png")no-repeat center center;
    right: 30px;
    bottom: 10px;
}
.product-container{
    width: 1240px;
    height: 310px;
    margin: 0 auto;
}
.product-container div{
    width: 310px;
    height: 310px;
    float: left;
    text-align: center;
    border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;border-left: 1px solid #ccc;
    box-sizing: border-box;
}
.product-container div:last-child{
    border-right: 1px solid #ccc;
}
.product-container .p-top{
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}
.product-container .p-bottom{
    cursor: pointer;
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}

/* new-product.css */
.new-product-title{
    width: 1240px;
    height: 30px;
    line-height: 30px;
    margin: 20px auto 0;
    position: relative;
}
.new-product-title .title-left{
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    color: #666;
}
.new-product-title .title-right{
    position: absolute;
    right: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
}
.new-product-container{
    width: 1240px;
    height: 970px;
    margin: 0 auto;
}
.left-container{
    width: 930px;
    height: 970px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
    position: relative;
}
.left-top{
    width: 930px;
    height: 310px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    top: 0;
}
.left-top-left{
    width: 620px;
    height: 310px;
    background: url("../images/fanghezi0407xiao.jpg");
    border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
}
.left-top-right{
    width: 310px;
    height: 310px;
    float: left;
    position: relative;
}
.left-top-right p{
    font-size: 14px;
    color: #666;
    margin-left: 15px;
}
.left-top-right p:first-child{
    margin-top: 20px;
}
.left-top-right img{
    position: absolute;
    margin: auto;
    left: 0;right: 0;bottom: 0;top: 0;
}
.left-middle{
    width: 930px;
    height: 315px;
    position: absolute;
    position: relative;
    top: 310px;
}
.left-middle-left{
    width: 310px;
    height: 315px;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    left: 0;
}
.left-middle-left div{
    width: 310px;
    height: 157.5px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}
.left-middle-left img{
    position: absolute;
    margin: auto;
    top: 0;bottom: 0;right: 55px;
}
.left-middle-left p{
    font-size: 14px;
    color: #666;
    margin-left: 20px;
}
.left-middle-left p:first-child{
    margin-top: 20px;
}
.left-middle-middle{
    width: 310px;
    height: 315px;
    border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    left: 310px;
}
.left-middle-right{
    width: 310px;
    height: 315px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    left: 620px;
}
.left-bottom{
    width: 930px;
    height: 345px;
    position: absolute;
    top: 625px;
}
.left-bottom-left{
    width: 310px;
    height: 345px;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
}
.left-bottom-middle{
    width: 310px;
    height: 345px;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    left: 310px;
}
.left-bottom-right{
    width: 310px;
    height: 345px;
    position: absolute;
    left: 620px;
}
.left-middle-middle img,.left-middle-right img,.left-bottom-left img,.left-bottom-middle img,.left-bottom-right img{
    position: absolute;
    margin: auto;
    left: 0;right: 0;bottom: 0;top: 0;
}
.left-middle-middle p,.left-middle-right p,.left-bottom-left p,.left-bottom-middle p,.left-bottom-right p{
    font-size: 14px;
    color: #666;
    margin-left: 15px;
}
.left-middle-middle p:first-child,.left-middle-right p:first-child,.left-bottom-left p:first-child,.left-bottom-middle p:first-child,.left-bottom-right p:first-child{
    margin-top: 20px;
}
.right-sidebar{
    width: 310px;
    height: 970px;
    float: right;
    border-right: 1px solid #ccc;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}
.siderbar-top{
    width: 310px;
    height: 130px;
    position: relative;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}
.siderbar-top .title{
    margin-left: 55px;
    font-size: 14px;
}
.siderbar-top a{
    color: white;
    background: red;
    text-decoration: none;
}
.siderbar-top .span-red{
    margin-left: 20px;
    font-size: 14px;
    color: red;
}
.siderbar-top .span-line{
    font-size: 14px;
    color: #666;
    text-decoration: line-through;
}
.siderbar-middle{
    width: 310px;
    height: 130px;
    background: #fafafa;
    position: relative;
    border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;
    box-sizing: border-box;
    overflow: hidden;
}
.siderbar-bottom{
    width: 310px;
    height: 130px;
    background: #fafafa;
    position: relative;
    border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;
    box-sizing: border-box;
    overflow: hidden;
}
.siderbar-top .p-top , .siderbar-middle .p-top , .siderbar-bottom .p-top{
    margin-left: 20px;
    margin-top: 30px;
}
.siderbar-top .p-bottom , .siderbar-middle .p-bottom , .siderbar-bottom .p-bottom{
    margin-left: 20px;
    font-size: 14px;
    color: #666;
}
.siderbar-top img , .siderbar-middle img , .siderbar-bottom img{
    position: absolute;
    margin: auto;
    top: 0;bottom: 0;
    right: 30px;
}
.siderbar-last{
    width: 310px;
    height: 579px;
    background: #fafafa;
    border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;
    box-sizing: border-box;
    overflow: hidden;
} 
.siderbar-list{
    width: 250px;
    height: 54px;
    line-height: 54px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
}
.siderbar-list:first-child{
    margin-top: 40px;
}
.siderbar-list p{
    display: inline-block;
    font-size: 14px;
}
.siderbar-list .p-right{
    font-size: 14px;
    position: absolute;
    right: 0;
}
.siderbar-list a{
    text-decoration: none;
    color: #666;
}
.siderbar-list a:hover{
    color: red;
}
.chongzhi{
    width: 250px;
    height: 240px;
    margin: 27px auto 0;
    position: relative;
}
.chongzhi h{
    position: absolute;
    top: 20px;
    font-size: 16px;
    color:  #666;
}
.chongzhi input,.chongzhi button{
    display: block;
    width: 250px;
    height: 35px;
}
.chongzhi input{
    position: absolute;
    top: 50px;
    box-sizing: border-box;
}
.form-group select{
    width: 250px;
    height: 35px;
    position: absolute;
    top: 110px;
}
.chongzhi p{
    font-size: 14px;
    color: #666;
    position: absolute;
    bottom: 55px;
}
.chongzhi button{
    cursor: pointer;
    position: absolute;
    /* margin: 0 auto 20px; */
    bottom: 15px;
    border: 1px solid #cccccc;
    color: white;
}
.chongzhi button:hover{
    background: red;
}

/* bottom.css */
.bottom{
    height: 540px;
    background: #fafafa;
    margin-top: 70px;
}
.bottom-container{
    width: 1240px;
    height: 540px;
    background: #fafafa;
    margin: 0 auto;
}
.bottom-service{
    height: 160px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}
.bottom-service .service{
    width: 248px;
    height: 160px;
    float: left;
}
.bottom-service img{
    margin-top: 40px;
}
.bottom-service p{
    color: #666;
    cursor: pointer;
    margin-top: 20px;
}
.bottom-links{
    height: 200px;
}
.service-list{
    margin-top: 30px;
    width: 170px;
    height: 140px;
    float: left;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}
.service-list-else{
    margin-top: 30px;
    width: 195px;
    height: 140px;
    float: left;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    padding-left: 30px;
}
.service-list dt{
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 20px;
    font-size: 16px;
    color: #333;
}
.service-list dd{
    line-height: 30px;
    font-size: 14px;
}
.service-list a{
    text-decoration: none;
    color: #666;
}
.service-list-else dt{
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 20px;
    font-size: 16px;
    color: #333;
}
.service-list-else dd{
    line-height: 30px;
    font-size: 14px;
}
.service-list-else a{
    text-decoration: none;
    color: #666;
}
.service-right{
    width: 290px;
    height: 140px;
    float: left;
    margin-top: 30px;
    text-align: center;
}
.service-right .phone{
    font-size: 25px;
    color: #7f7f7f;
    line-height: 45px;
}
.service-right .word{
    font-size: 14px;
    color: #7f7f7f;
}
.service-right .service-btn{
    width: 120px;
    height: 30px;
    background: #FF4A00;
    color: white;
    border: none;
    margin-top: 25px;
    cursor: pointer;
}
.row-center{
    height: 180px;
    line-height: 20px;
    padding-left: 155px;
    overflow: hidden;
    position: relative;
}
.row-center ul{
    margin-top: 40px;
}
.row-center li{
    float: left;
    color: #333;
    font-size: 12px;
    list-style: none;
}
.row-center .split{
    color: #ccc;
}
.row-center a{
    text-decoration: none;
    color: #333;
    font-size: 12px;
    padding: 0 10px;
}
.row-center p{
    display: inline-block;
    font-size: 12px;
    color: #333;
    padding-left: 190px;
}
.row-center img{
    display: block;
    margin-top: 30px; 
    margin-left: 250px; 
}
.form-control{
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    right: 450px;
    bottom: 40px;
}